<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
     <header>
      <nav class="container">
        <div class="logo">Ambulance</div>
        <ul>
          <a href="home.html"><li>Home</li></a>
          <a href="https://maps.app.goo.gl/hmQvw8DyJ4egEP3k8/"><li>Map</li></a>
          <a href="contact.html"><li>Contact us</li></a>
          <a href="about.html"><li>About us</li></a>
        </ul>
      </nav>
    </header>
    <main>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, iure vero in consequuntur aliquam autem quod inventore quis dolorem accusamus error soluta ad dignissimos voluptate enim distinctio impedit optio. Cum nisi in inventore aliquam sint iusto nostrum eius sunt aliquid asperiores assumenda earum, at exercitationem explicabo dolorum consequuntur corrupti alias quaerat excepturi. Maxime ea aliquam, sed delectus, molestiae sequi quidem voluptate in hic blanditiis quis eveniet provident rem sint quaerat.
    </main>
     <footer>
        <section class="footer-upper">
            <div class="container">
                <div class="footer-links">
                    <h4>Shop and learn</h4>
                    <ul>
                        <li>Music</li>
                        <li>Movies</li>
                        <li>Shows</li>
                        <li>Apps</li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Education and Business</h4>
                    <ul>
                        <li>Orange Education</li>
                        <li>Shops and job</li>
                        <li>Jobs</li>
                        <li>Shop for college</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="footer-lower">
            <p>&#169 Copyright of Rathan</p>
        </section>
    </footer>
    
</body>
</html>